<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/css/styles.css" rel="stylesheet">
  <!-- <link rel="stylesheet" href="../../public/css/styles.css"> -->
  <link rel="stylesheet" href="../../fontawesome-free-6.7.2-web/css/all.css">
</head>
<body >
    <!-- <div id="contact_info" class="text-white bg-blue-600 text-center p-2">
        <a href="mailto:peterslowen123@gmail.com? subject=Enquiry&body=This is a test email." class="p-2">
            <i class="fa fa-envelope pl-1 text-blue-950"></i>
            infor@champharmacy.org
        </a>
    </div> -->

<!-- Navigation -->
<nav id="navbar" class="absolute top-0 left-0 w-full flex flex-row justify-between items-center p-4 text-white bg-blue/30 backdrop-blur-md transition-all duration-300 z-50">
    <!-- Logo -->
    <div>
        <img id="logo" src="./images/cham_logo.jpg" alt="Logo" class="h-13 rounded-xl">
    </div>

    <!-- Links -->
    <div id="links" class="hidden md:flex md:flex-row justify-end items-center space-x-5 text-xl">
        <a href="/" >Home</a>
        <a href="/about" class="hover:text-gray-300 transition-all hover:border-b-2 hover:border-gray-300">About Us</a>
        <a href="/products" class="hover:text-gray-300 transition-all hover:border-b-2 hover:border-gray-300">Products</a>
        <a href="/contact" class="hover:text-gray-300 transition-all hover:border-b-2 hover:border-gray-300">Contact us</a>
    </div>
</nav>